.home-banner {
  background-image: url('https://i.picsum.photos/id/866/3000/2000.jpg?hmac=SXOp_uzf9OwXSX4IVRliw8_gdBSUAaDyLh5dgwQyKng');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}